<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Log4Net Logging -->
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
   
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d %-5p %n%m%n" />

      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- 15 minutes -->
    <add key="Timeout" value="900000" />
    <add key="Username" value="sa" />
    <add key="Password" value="bhtech@123" />
    <add key="Domain" value="http://192.168.1.169/CS4" />

    <add key="SCREENSHOT" value="../../Cs topics/Screenshots/" />
    <add key="TOPICWITHCOMMENT" value="../../Cs topics/Topic with comments/" />
    <add key="TOPICWITHOUTCOMMENT" value="../../Cs topics/Topic without comments/" />
    <add key="RESULTS" value="../../Results" />
    <add key="TOPICATTRIBUTE" value="Template/TopicSync.xml" />
 
    <add key="AuthenticateType" value="BASIC" />
    <!-- COOKIES,BASIC -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>